/* Staatliches
Francois One 
Orbitron */

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Amatic+SC:wght@700&family=Francois+One&family=Orbitron:wght@500&family=Staatliches&family=Bebas+Neue&family=Road+Rage&family=Urbanist:wght@100;400;500&family=Outfit:wght@300;400;500&display=swap');



/* 
Font Use:

font-family: 'Bebas Neue', cursive;
font-family: 'Road Rage', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Francois One', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Staatliches', cursive; 
font-family: 'Urbanist', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Alata', sans-serif;


*/